article {
  max-width: 100%;
  width: 780px;
  background-color:#0b4e4e;
  padding: 10px;
  margin-top: 2px;
  border-radius: 20px;
}

.blog-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 750px;
  max-height: 350px;
}

.blog-title {
  font-size: 40px;
}

p {
  margin: 16px 0 16px 0;
  padding: 0 0 0 0;
}
