header {
  position: sticky;
  display: inline-block;
  text-align: right;
  margin: 0 auto;
  margin-bottom: 10px;
  color: whitesmoke;
  font-size: 30px;
  width: 98%;
  min-width: 300px;
  background-color: teal;
  padding:10px;
  padding-top: 5px;
}

header a {
  text-align: right;
  text-decoration: none;
  color: whitesmoke;
  font-weight: 500;
  font-size: 20px;
}

iframe {
  width: 100%;
  height: 160px;
  border: 0;
}

.steam-embed {
  height: 200px;
}

.nav-bar {
  text-align: right;
  border: white;
  border-width: 1px;
  align-content: center;
  position: relative;
  display: inline-block;
  margin-left: 120px;
}

.nav-name {
  text-align: left;
  border: white;
  border-width: 1px;
  align-content: left;
  position: absolute;
  margin-left: 5px;
}

.nav-bar .nav-button {
  display: inline-block;
  padding-inline: 20px;
  text-align: center;
}

html {
  background-color: #033232;
  vertical-align: middle;
  justify-items: center;
  font-family: Arial, sans-serif;
  color: #eee;/*whitesmoke;*/
  text-decoration: none;
}

a {
  color: inherit;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-text {
  text-align: center;
}
.inline {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.bottom-space {
  margin-bottom: 10px;
}

/* #region Projects */
.project-block {
  background-color: #042852;
  box-shadow: rgb(64, 84, 139) 0 0 20px;
  margin: 0 auto;
  width: 1000px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 50px;

  animation-name: zoom;
  animation-duration: 0.5s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.project-column {
  max-width: 50%;
  min-width: 40%;
  margin-bottom: 10px;
  padding: 10px;
}

.project-column img {
  max-width: 48%;  
  margin: 2px;
}

.project-column p {
  margin: 0;
}

.project-title {
  font-size: 50px;
  padding: 10px;
}

.project-subtitle {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.project-icon {
  max-height: 150px;
  width: 50%;
}

.project-icon:hover{
  transform: scale(1.03);
}

.project-images {
  display: block;
}

.project-video {
  max-height: 130px;
  width: 48%;
  margin-top: 0;
}

article iframe {
  margin-top: 10px;
}

.project-grid {
  display: grid;
  margin: 0 auto;
  max-width: 1003px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  /*grid-gap: 15px 15px;*/
  padding: 0 15px;
  flex: 1 1 auto;
  counter-reset: grid;
}

.project-grid-box {
  position: relative;
  max-width: 499px 50%;
  border-radius: 15px;
  margin: 8px;
  overflow: hidden;

  transition: transform .07s linear, box-shadow .07s linear;
  will-change: transform;
  grid-column: span 2;

  /* Dealing with odd number array */
  &:last-child:nth-child(2n - 1) {
    grid-column-end: 4;
  }
}

.project-grid-box:hover {
  cursor: pointer;
  box-shadow: 3px 3px 5px 0 rgba(231, 231, 231, 0.322);
  transform: scale(1.02);
}

.project-grid-box .img-hover {
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  color: white;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.25s linear; 
  transition: visibility 0s, opacity 0.25s linear;
}

.project-grid-box:hover .img-hover {
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 0.9;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-hover {
  font-size: 30px;
  text-align: center;
}

.img-hover .title {
  opacity: 1;
  font-size: 50px;
}

.project-grid-box img {
  max-width: 500px;
  min-width: 350px;
  height: 350px;
}
/* #endregion */

/* #region Modals */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 1px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

#generic-modal {
  display: none;
  padding-top: 100px;
  z-index: 2; /* Sit above specific modals */
}

#generic-image {
  margin: 0 auto;
  max-width: 1200px;
}

#generic-description {
  font-size: 40px;
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/* #endregion */

/* #region Generic Deco */
.no-deco-color {  
  color: inherit;
}
.no-deco-line {
  text-decoration: none;
}
.no-deco {
  text-decoration: none;
  color: inherit;
}
/* #endregion */
