header{
    position: sticky;
    display: inline-block;
    text-align: right;
    margin: 0 auto;
    margin-bottom: 10px;
    color: whitesmoke;
    font-size: 30px;
    width: 100%;
    min-width: 300px;
}

header a{
    text-align: right;
    text-decoration: none;
    color: whitesmoke;
    font-weight: 500;
    font-size: 20px;
}

html {
    background-color: #222222;
    vertical-align: middle;
    justify-items: center;
}

.nav-bar{
    text-align: right;
    border: white;
    border-width: 1px;
    align-content: center;
    position: relative;

    background-color: teal;
    padding:10px;
    padding-top: 5px;
}

.nav-bar .nav-button{
    display: inline-block;
    padding-inline: 20px;
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inline{
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.bottom-space{
    margin-bottom: 10px;
}

.project-block{
    background-color: turquoise;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 500px;
}

.project-column{
    max-width: 50%;
    min-width: 40%;
    margin-bottom: 10px;
}

.project-column img{
    max-width: 48%;    
    margin: 2px;
}

.project-title{
    font-size: 50px;
    padding: 10px;
}

.project-subtitle{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.project-description{
    
}

#minesweeper-settings{
    border: solid whitesmoke 2px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.minesweeper-difficulty{
    margin: 5px;
    margin-bottom: 2px;
    display: inline;
    text-align: center;
    color: whitesmoke;
    font-size: 24px;
}

.minesweeper-background{
    background-color: #222222;
    vertical-align: middle;
    justify-items: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#minesweeper-board{
    margin: 0 auto;
    vertical-align: middle;
    justify-items: center;
    display: grid;
    max-width: 1110px;
    align-content: center;
    grid-template-columns: repeat(8,35px);
    grid-template-rows: repeat(8,35px);
    column-gap: 2px;
    row-gap: 2px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#minesweeper-board div{
    outline: none;
    user-select: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.minesweeper-tile{
    max-width: 35px;
    margin-left: 0px;
    margin-bottom: 0px;
    outline: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    -webkit-user-drag: none;
}

